.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInScale 1s ease;
    text-align: center;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 16px;
    color: #FAFAFA;
}
.dud {
  color: #FAFAFA;
}
.indexcontent img {
    width: 200px;
    margin-bottom: 20px;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}