.content {
    display: flex;
    text-align: center;
    flex-direction: column;
    animation: fadeinScale 1s ease;
    margin-top: 15px;  
    overflow-y: scroll !important;  
}
.artwork-1 {
    width: 40%;
    height: auto;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
}
.artwork-2 {
    height: auto;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10px;
}
.artwork-3 {
    height: auto;
    width: 40%;
    margin-right: 45px;
    border-radius: 10px;
}
.artwork-4{
    height: auto;
    width: 31%;
    margin-left: 45px;
    border-radius: 10px;
}
.artwork-5{
    height: auto;
    width: 45%;
    border-radius: 10px;
}
@keyframes fadeinScale {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}